body {
	font-family: "Century Gothic", "Lato", sans-serif;
}

.envasos {
	margin: auto;
 	width: 50%;
	/*Amb lo de sobre es centra el contenidor, amb lo de baix el text*/
	text-align: center;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
