
@media screen and (max-width: 768px) { /* Perquè la versió mòbil es vegi centrada correctament (el títol no sigui massa gran) */
  .contenidor-centrat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenidor-centrat h1 {
    transform: scale(0.8);
    transform-origin: center;
    width: max-content;
  }
}

body {
	font-family: "Century Gothic", "Lato", sans-serif;
  text-align: center;
}


.contenidor-centrat {
	margin: auto;
 	width: 50%;
	/*Amb lo de sobre es centra el contenidor, amb lo de baix el text*/
	text-align: center;
	/*I amb el següent el div verticalment*/
	vertical-align: middle;
}

h1 {
  font-size: 10em;
}

h3 {
  font-size: 2em;
}

.github{
  display: flex;
  justify-content: center;
  margin: 120px auto;
  display: block;
}

.fab {
  font-size: 2em;
  color: black;
}

/* Per l'animació del fons (implementada en el ftixer script.js) */
.ball { 
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

/*Pel cercle que conté 'ub.fisica.cat' */
@import "cercle-ub.css";
