
@media screen and (max-width: 768px) {
  .contenidor-centrat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenidor-centrat h1 {
    transform: scale(0.6); /* Ajusta el factor de escala segons el que necessitis */
    transform-origin: center;
  }
}

body {
	font-family: "Century Gothic", "Lato", sans-serif;
  text-align: center;
}


.contenidor-centrat {
	margin: auto;
 	width: 50%;
	/*Amb lo de sobre es centra el contenidor, amb lo de baix el text*/
	text-align: center;
	/*I amb el següent el div verticalment*/
	vertical-align: middle;
}

h1 {
  font-size: 10em;
}

.fab {
  font-size: 2em;
  color: black;
}



h3 {
  font-size: 2em;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.ub {
  position: relative;
  display: block;
  margin: 130px auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.ub:hover .imgMasked {
  clip-path: circle(100px at center);
}
.ub:hover .ub-hail {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.ub:hover .ub-hail2 {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 80px solid #fff4e6;
  opacity: 0;
}
.ub:hover .preview-nom {
  left: 200%;
  opacity: 1;
}
.ub:hover .preview-nom:before {
  width: 100%;
}
.ub-hail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0544f;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: 0.5s;
  opacity: 0.2;
}
.ub-hail2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 0;
  transition: 0.7s;
  border: 22px solid #f0544f;
  border-radius: 20px;
  pointer-events: none;
}
.imgMasked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 200px;
  clip-path: circle(20px at center);
  transition: 0.5s;
  pointer-events: none;
}
.preview-nom {
  position: absolute;
  max-width: 600px;
  min-width: 150px;
  left: 0;
  top: 150%;
  pointer-events: none;
  transition: 0.5s;
  color: #000;
  padding: 3px 6px;
  z-index: 2;
  opacity: 0;
}
.preview-nom:before {
  content: '';
  width: 0;
  height: 100%;
  background-color: #f0544f;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}

.github{
  display: flex;
  justify-content: center;
  margin: 120px auto;
  display: block;
}
